<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
        <listener class-name="resources.ExtentReporterNG"/>
    </listeners>
  <test thread-count="5" name="RestAPI">
    <classes>
      <class name="Suite1.Basics5_getAdvancedTest"/>
      <class name="Suite1.Basics8_AddBookExternalJsonFileTest"/>
      <class name="Suite1.Basics7_AddAndDeleteTest"/>
      <class name="Suite1.Basics3_GMapPostDeleteTest"/>
      <class name="Suite1.Basics4_GMapPostXMLTest"/>
      <class name="Suite1.Basics1_GMapPostTest"/>
      <class name="Suite1.Basics_GMapGetTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
